body{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/010/223/862/non_2x/hexagon-technology-with-dark-blue-background-abstract-futuristic-illustration-design-high-tech-digital-social-network-connect-concept-free-vector.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    height:7000px;
    width:1000px;
    border:2px solid black;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/736x/cf/42/2b/cf422b28fcd7ef77ea795a3df6e93db7.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    
}
.container-2{
    height:800px;
    width:1000px;
    border:2px solid black;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/736x/cf/42/2b/cf422b28fcd7ef77ea795a3df6e93db7.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
}
h1{
    color:white;
}
