* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }

    body {
      background: linear-gradient(to bottom right, #dbe8f1, #e2e8f0);
      padding: 30px;
    }

    .container {
      max-width: 1200px;
      margin: auto;
      background:rgb(220, 219, 193);
      border-radius: 25px;
      padding: 30px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      height:800px;
    }

    .topbar {
      display: flex;
      background-color: #dbe8f1;
      align-items: center;
      margin-bottom: 15px;
      border-radius: 15px;
    }
    .topbar img{
      height:20px;
      margin-left:5px;
    } 
    h2{
      margin:5px;
      margin-top: 15px;
      font-size: 15px;
      font-weight: lighter;
    }
    .search-container{
      display:flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 25px;
      padding: 5px 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      width:300px;
      margin-left: 20px;
    }

    .search-container input {
      border:none;
      outline: none;
      flex: 1;
      padding: 8px 10px;
      font-size: 14px;
      border-radius: 25px;
      
    }
    .search-icon{
      width:32px;
      height:32px;
      background-color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .search-icon img{
      width:16px;
      height: 16px;
      filter: invert(1);
    }

    .main {
      display: flex;
      gap: 20px;
    }
    .music{
      background-color:white;
      border-radius: 5px;
      padding:4px;
    }

    .left {
      flex: 2;
      background: #f5f9fb;
      border-radius: 20px;
      padding: 20px;
    }

    .left h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .left p {
      color: #555;
      margin-bottom: 20px;
    }

    .left button {
      background: #000;
      color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      cursor: pointer;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .colors, .product-card {
      background: #f8fafc;
      padding: 15px;
      border-radius: 20px;
    }

    .colors div {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    .color-dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .bottom {
      display: flex;
      gap: 20px;
      margin-top: 30px;
    }

    .bottom-card {
      flex: 1;
      background: #f1f5f9;
      padding: 15px;
      border-radius: 20px;
      text-align: center;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: gray;
      margin-left: 10px;
    }