.button-container {
    text-align: center;
    
}

button {
    width: 200px;
    color: white;
    font-size: 16px;
    
}

.pink-button {
    background-color:palevioletred;
}

.green-button {
    background-color: green;
}

.blue-button {
    background-color:blue;
}