body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://plus.unsplash.com/premium_photo-1688645554172-d3aef5f837ce?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwbW91bnRhaW5zfGVufDB8fDB8fHww)  center fixed;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
}

.login-box input::placeholder {
  color: #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0;
}

.options a {
  color: #ccc;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.register-text {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.register-text a {
  color: #ccc;
  text-decoration: none;
}