body {
      font-family: Arial, sans-serif;
      padding: 30px;
      background-color: #f0f0f0;
    }
    .box {
      background-color: rgb(186, 186, 186);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px #ccc;
      max-width: 400px;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      padding: 8px 16px;
      margin: 5px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      background-color: #007BFF;
      color: white;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    .output {
      margin-top: 10px;
      font-weight: bold;
    }